* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: gray;
}
div {
	 border: 0px solid black;
	 border-radius: 10px;
	 padding: 5px;
	 margin: -1px auto;
	 width: 750px;
	 text-align: justify;
	 background-color: white;
}
.tex {
	padding-left: 40px;
}
.menu {
	margin: 5px;
    margin-left: 200px;
    padding: 0;
    list-style-type: none;
    
}

.menu >li {
    display: inline-block;
    margin-right: -4px;
	padding: 2px;
}
.submenu {
	visibility: hidden;
	position: absolute;
	border: 1px solid black;
	border-radius: 5px;
	margin: 2px;
	background-color: white;
}
.menu li:hover .submenu {
	visibility: visible;
	}

.menu .submenu {
    margin: 1px auto;
    padding: 5px;
    list-style: none;
}
img {
	float: left;
	width: 180px;
}
h1 {
	padding: 30px;
	margin-left: 170px;
}
.contacts{ 
		  display: block; 
		  text-align: center; 
		  margin: 0px auto;
}
.button{
  overflow: visible;
}
#res {
	width: 233px;
}

table {
	text-align: center; 
	margin: 0px auto;
	width: 220px;
	border-spacing: 2px;
}
td {
    width: 20px;/*
    border: 1px solid black;*/
	margin: 2px;
	height: 10px;
}
button {
	width: 45px;
	height: 20px;
}
td.result {
	height: 20px;
	width: 235px;
}
.tot {
	height: 42px;
}
.zero {
	width: 93px;
}
aside {
    background: lightgray;
    padding: 10px;
    width: 190px;
    float: right;
	border-radius: 10px;
	margin: 5px;
	line-height: 14px;
   }
h3 {
	margin: 1px;
}
